notification-component {
  .notification {
    position: fixed;
    top: 65px;
    right: 15px;
    left: 15px;
    padding: 15px 20px;
    line-height: 20px;
    background: white;
    border: 1px solid #eee;
    z-index: 1;
    font-weight: 800;
    font-size: 14px;
    visibility: hidden;
    transition: .6s cubic-bezier(0.86, 0, 0.07, 1);
    transform: translateY(-65px);
    will-change: transform;
    opacity:0;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
  }
}