header-component {
  position: relative;
  z-index: 1000;

  background: white;
  color: $primary;
  border-bottom:darken($light, 5%) 1px solid;

  .header {
    height: 50px;

    .header-icon {
      height: 50px;
      width: 50px;
      max-width: 50px;

      img, object, svg {
        height: 20px;
        width: 20px;

        fill: $primary !important;
      }
    }

    .header-logo {
      margin: auto;
      font-family: 'Caveat Brush', cursive;
      font-size: 26px;
      cursor: pointer;
    }

  }
}
