header-component {
  position: relative;
  z-index: 1000;

  background: white;
  color: $primary;
  border-bottom: #eee 1px solid;
  margin-top: -1px;

  .header {
    height: 50px;
    margin-top: -51px;
    transition: .6s;

    &.active {
      margin-top: 0;
    }

    .header-icon {
      height: 50px;
      width: 50px;
      max-width: 50px;
      transition: .15s;

      span {
        transition: .15s;
      }

      &:active {
        background: #eee;

        span {
          transform: scale(1.3);
        }
      }
    }

    .header-logo {
      margin: auto;
      //font-family: 'Caveat Brush', cursive;
      font-size: 18px;
      font-weight: 900;

      cursor: pointer;
      transition: .15s;

      &:active {
        transform: scale(1.3);
      }
    }

  }
}
