<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--to use real urls instead of hashes uncomment below-->
    <!--<base href="/">-->

    <title>Party Playoff</title>
    <!--<title><%= title %></title>-->
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="/static/icomoon/style.css">
    <link rel="stylesheet" href="/static/lib.css"/>
    <link rel="stylesheet" href="/static/app.css"/>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
</head>
<body data-ng-app="app">

<div class="body">
    <header-component></header-component>

    <!-- screen contents -->
    <div ui-view></div>
</div>




<script src="static/lib.js"></script>
<script src="static/app.js"></script>
<script src="static/templates.js"></script>

</body>
</html>