<div screen="voting-home">

    <tabs-component icons="['search', 'menu3']">
        <tabs class="tabs flex flex-row">
            <div class="tab flex">
                <div class="question flex flex-align flex-justify">
                    <div class="large-text">Join Game</div>
                    <md-input-container style="margin-right: 10px;">
                        <label style="bottom: 63px">Game ID</label>
                        <input ng-model="$ctrl.gameId">
                    </md-input-container>

                    <md-button class="md-raised" ng-disabled="!$ctrl.gameId" ng-click="$ctrl.getGame()">Join</md-button>
                </div>

            </div>
            <div class="tab flex">
                <div class="section-title block">My Games</div>
                <div ng-show="!$ctrl.games.length" class="back-primary flex flex-align flex-justify transparent">
                    <div class="large-text">No games joined yet!</div>
                    <div style="height: 30px"></div>
                </div>

                <div class="container-fluid">
                    <div class="section">



                        <div class="game flex flex-align flex-justify"
                             ng-repeat="game in $ctrl.games"
                             ng-bind="'Game ' + game._id"
                             ui-sref="voting-game({gameId:game._id})"
                        ></div>

                    </div>
                </div>
            </div>
        </tabs>
    </tabs-component>

    <div class="floating-button flex flex-align flex-justify high white" ng-click="$ctrl.addGame()">
        <span>+</span>
    </div>
</div>