<div screen="voting-game">
    <tabs-component icons="['gamepad3', 'podium', 'stack-text', 'bubble-dots3', 'info']">
        <tabs class="tabs flex flex-row">
            <div class="tab flex">
                <div ng-if="$ctrl.isStatus('new')" class="back-primary flex flex-align flex-justify">
                    <div>Game ID:</div>
                    <div class="huge-text" style="margin-bottom: 30px;">
                         {{$ctrl.game._id}}
                    </div>
                    <p ng-if="$ctrl.isHost() && !$ctrl.canStart()">Waiting for more players...</p>
                    <p ng-if="!$ctrl.isHost()">Waiting for admin to start...</p>
                    <p ng-if="!$ctrl.hasJoined()">
                        <md-button class="md-raised" ng-click="$ctrl.joinGame()">Join Game</md-button>
                    </p>
                    <p ng-if="$ctrl.canStart()">
                        <md-button class="md-raised" ng-click="$ctrl.startGame()">Start Game</md-button>
                    </p>
                </div>
                <div ng-if="$ctrl.isStatus('started')" class="back-primary flex flex-align flex-justify">

                    <p ng-if="$ctrl.isTurn()">
                        <small>This is your question.</small>
                    </p>
                    <p class="large-text">
                        Who {{$ctrl.getCard()}}?
                    </p>

                    <!--card-->
                    <div class="flex flex-min" ng-if="$ctrl.isLocalState('voting')">
                        <div ng-if="!$ctrl.hasVoted() && $ctrl.hasJoined()" class="flex flex-min">
                            <md-input-container>
                                <label>Select</label>
                                <md-select ng-model="$ctrl.voteFor">
                                    <md-option ng-value="">Select</md-option>
                                    <md-option
                                            ng-repeat="player in $ctrl.getOtherPlayers()"
                                            ng-value="player"
                                    >{{player}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <div style="height: 45px">
                                <md-button class="md-raised" ng-if="$ctrl.voteFor" ng-click="$ctrl.vote($ctrl.voteFor)">Vote!</md-button>
                            </div>
                        </div>

                        <div></div>
                        <p ng-if="$ctrl.hasVoted() || !$ctrl.hasJoined()">
                            <small>
                                Waiting for the others... &nbsp; <span class="spinner icon-cog"></span>
                            </small>
                        </p>
                    </div>

                    <!--guess-->
                    <!--<div class="flex flex-min" ng-if="$ctrl.isLocalState('guessing')">-->
                        <!--<div></div>-->
                        <!--<p>-->
                            <!--<small>Who nominated you?</small></p>-->

                        <!--&lt;!&ndash;<div ng-if="!$ctrl.hasGuessed()" class="flex flex-min">&ndash;&gt;-->
                        <!--<md-input-container  ng-repeat="vote in $ctrl.getMyVotes()">-->
                            <!--<label>Select</label>-->
                            <!--<md-select ng-model="$ctrl.guessFor">-->
                                <!--<md-option ng-value="">Select</md-option>-->
                                <!--<md-option-->
                                        <!--ng-repeat="player in $ctrl.getOtherPlayers()"-->
                                        <!--ng-value="player"-->
                                <!--&gt;{{player}}-->
                                <!--</md-option>-->
                            <!--</md-select>-->
                        <!--</md-input-container>-->
                    <!--</div>-->


                    <div class="flex flex-min" ng-show="$ctrl.isLocalState('finished')">
                        <div></div>
                        <p class="large-text show-winner" ng-class="{active:$ctrl.isLocalState('finished')}">
                            {{$ctrl.getWinnersList()}}.
                        </p>
                        <p style="margin-top:30px">
                            <md-button class="md-raised" ng-if="$ctrl.isHost()" ng-click="$ctrl.newRound()">Next Round!</md-button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="tab">
                <!--<div class="section-title block">Players</div>-->
                <div class="container">
                    <div class="section">
                        <div class="scoreboard">
                            <div class="player flex flex-row"
                                 ng-repeat="player in $ctrl.game.players"
                            >
                                <div class="indicator">
                                    <span class="icon-arrow-right3" ng-if="$ctrl.isTurn(player)"></span>
                                </div>
                                <div class="name">{{player}} &nbsp; <small ng-if="$ctrl.isHost(player)">(host)</small></div>
                                <div class="score">{{$ctrl.getPlayerCards(player).length}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab">
                <div class="section-title block">My Cards</div>
                <div class="container">
                    <div class="question-cards flex flex-wrap">
                        <div class="question-card flex flex-align flex-justify"
                             ng-repeat="card in $ctrl.getPlayerCards()"
                        >
                            Who {{card}}?
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab flex">
                <div class="section-title block">Chat</div>
                <div class="chat-items flex">
                    <div class="chat-floater">
                        <div ng-repeat="message in $ctrl.game.messages">
                            <div class="p-label">{{message.username}}</div>
                            <div class="p-text">{{message.text}}</div>
                        </div>
                    </div>

                </div>

                <div class="chat-box flex flex-row">
                    <textarea name="" id="" rows="4" ng-model="$ctrl.chatMessage"></textarea>
                    <div class="chat-butn" ng-click="$ctrl.sendChat()"><span class="icon-paperplane"></span></div>

                </div>
            </div>

            <div class="tab">
                <div class="section-title block">Settings</div>
                <div class="container">
                    <div class="list">
                        <div class="list-item">
                            Game Id: {{$ctrl.game._id}}
                        </div>
                        <div class="list-item">
                            Round {{$ctrl.game.currentRound}}
                        </div>
                        <div class="list-item">
                            Host {{$ctrl.game.host}}
                        </div>
                        <div ng-if="ctrl.hasJoined() && !$ctrl.isHost() && $ctrl.isStatus('new')" class="list-item">
                            <span class="butn block">Leave Game</span>
                        </div>
                    </div>





                </div>
            </div>

        </tabs>
    </tabs-component>
</div>