<div screen="voting-game">
    <tabs-component icons="['gamepad3', 'podium', 'bubbles5']">
        <tabs class="tabs flex flex-row">
            <div class="tab flex">
                <div ng-if="$ctrl.isStatus('new')" class="back-primary flex flex-align flex-justify">
                    <p ng-if="$ctrl.isHost() && !$ctrl.canStart()">Waiting for more players...</p>
                    <p ng-if="!$ctrl.isHost()">Waiting for admin to start...</p>
                    <p ng-if="!$ctrl.hasJoined()">
                        <md-button class="md-raised" ng-click="$ctrl.joinGame()">Join Game</md-button>
                    </p>
                    <p ng-if="$ctrl.canStart()">
                        <md-button class="md-raised" ng-click="$ctrl.startGame()">Start Game</md-button>
                    </p>
                </div>
                <div ng-if="$ctrl.isStatus('started')" class="back-primary flex flex-align flex-justify">

                    <p ng-if="$ctrl.isTurn()">
                        <small>This is your question.</small>
                    </p>
                    <p class="large-text">
                        Who {{$ctrl.getCard()}}?
                    </p>

                    <!--card-->
                    <div ng-if="!$ctrl.isTurn() && !$ctrl.hasVoted()" class="flex flex-min">
                        <md-input-container>
                            <label>Select</label>
                            <md-select ng-model="$ctrl.voteFor">
                                <md-option ng-value="">Select</md-option>
                                <md-option
                                        ng-repeat="player in $ctrl.getOtherPlayers()"
                                        ng-value="player"
                                >{{player}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <div style="height: 45px">
                            <md-button class="md-raised" ng-if="$ctrl.voteFor" ng-click="$ctrl.vote($ctrl.voteFor)">Vote!</md-button>
                        </div>
                    </div>

                    <p ng-if="$ctrl.hasVoted() || $ctrl.isTurn()">Waiting for the others... &nbsp; <span class="spinner icon-cog"></span></p>

                    <!--guess-->


                </div>
            </div>

            <div class="tab">
                <!--<div class="section-title block">Players</div>-->
                <div class="container">
                    <div class="section">
                        <div class="scoreboard">
                            <div class="player flex flex-row"
                                 ng-repeat="player in $ctrl.game.players"
                            >
                                <div class="icon">
                                    <span class="icon-star-full" ng-if="$ctrl.isHost(player)"></span>
                                </div>
                                <div class="name">{{player}}</div>
                                <div class="score">23</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab">
                <!--<div class="section-title block">Chat</div>-->
                <div class="container">
                </div>
            </div>

        </tabs>
    </tabs-component>
</div>