.flex {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;

  &.flex-row {
    flex-direction: row;
  }

  &.flex-gap {
    margin-top: 30px;
  }

  &.flex-auto {
    flex: 1 1 auto;
  }

  &.flex-min {
    flex: 0 0 auto;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.flex-wrap-mob {
    @include mobile {
      flex-wrap: wrap;
    }
  }

  &.flex-align {
    align-items: center;
  }

  &.flex-justify {
    justify-content: center;
  }

  &.flex-start {
    align-self: flex-start;
  }

  &.flex-end {
    align-self: flex-end;
  }
}